<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Logging</title>
</head>
<body>
<script th:inline="javascript">
var isAccountLocked = /*[[${isAccountLocked}]]*/ 'default';
var displayErrorMessage =  /*[[${displayErrorMessage}]]*/ 'default';
var displayError =  /*[[${displayError}]]*/ 'default';
var notifyEmailAddress = /*[[${notifyEmailAddress}]]*/ 'default';
var message = /*[[${message}]]*/ 'default';
var domainAddressUrl = /*[[${domainAddressUrl}]]*/ 'default';
window.location.replace(domainAddressUrl + "index.html?isAccountLocked=" + isAccountLocked + "&notifyEmailAddress=" + notifyEmailAddress + "&message=" + message + "&displayError=" + displayError + "&displayErrorMessage=" + displayErrorMessage);
</script>
</body>
</html>