<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Logging</title>
</head>
<body>
<script th:inline="javascript">
var token = /*[[${token}]]*/ 'default';
var userName = /*[[${userName}]]*/ 'default';
var twoStepVer =  /*[[${twoStepVer}]]*/ 'default';
var domainAddressUrl = /*[[${domainAddressUrl}]]*/ 'default';
window.location.replace(domainAddressUrl + "loginsuccessfull.html?jwt=" + token+"&userName="+userName+"&twoStepVer="+twoStepVer);
</script>
</body>
</html>